$base-font-family: sans-serif;
$base-font-color: #000;
$base-line-height: 1.5;

$typography-line-height: 1.5;

$base-font-size: 16px !default;
$small-font-size: modular-scale(-1);
// $h1-font-size: 1rem;
// $h2-font-size: 1rem;
// $h3-font-size: 1rem;
// $h4-font-size: 1rem;
// $h5-font-size: 1rem;
// $h6-font-size: 1rem;
// $sub-font-size: 75%;
// $sub-bottom-offset: -.25em;
//
// $sup-font-size: 75%;
// $sup-top-offset: -.5em;

// $base-link-color: rgb(0, 0, 238);
// $base-link-active-color: rgb(255, 0, 0);
// $base-link-hover-color: $base-link-color;
// $base-link-visited-color: rgb(85, 26, 139);
