@import './typography';
@import './form';

$base-spacing: 2rem !default;

$base-background-color: #fff !default;
$base-table-padding: .5rem;

$base-button-background-color: #ccc !default;
$base-button-color: #000 !default;
$base-button-border: 1px solid #aaa !default;
$base-button-border-radius: 3px !default;

$code-background-color: #ddd !default;
$code-color: #000 !default;




$medium-screen: 600px;
$large-screen: 900px;
