.projection {
  @include clearfix;

  .projection-view {
    @include media($medium-screen-up) {
      @include span-columns(9);
    }
  }
  .sliders {
    @include media($medium-screen-up) {
      @include span-columns(3);
    }
    background-color: white;

    .legend {
      background: $gray;
      display: inline-block;
      height: 1rem;
      margin-right: 0.5rem;
      width: 1rem;
    }
    .backlog {
      background: $backlog;
    }
    .dark-matter {
      background: $dark-matter;
    }
    .max-y {
      background: white;
    }
  }
}
