nginx:
  restart: always
  image: ${registry_base}/synapse:${tag}
  ports:
    - 80
  environment:
    - NODE_ENV=production
    - NODE_CONFIG={"Client":{"api":{"baseUrl":"http://midas-api.${domain_name}/"},"starterProjectsApi":{"baseUrl":"http://midas-api.${domain_name}/"}}}
