.projection-slider {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;

  .slider-label {
    text-transform: uppercase;
    color: @gray;
    margin-right: 0.6rem;
  }

  .value {
    font-size: 1.4rem;
    margin-right: 0.2rem;
  }

  .unit {
    text-transform: lowercase;
  }

  input[type="range"] {
    -webkit-appearance: none !important;
    height: 1px;
    margin-bottom: 1rem;
    background: none;
    border: 1px solid @gray;
    transition: border 0.2s ease;

    &:hover {
      border: 1px solid @highlight;
    }

    &:focus {
      outline: none;
    }
  }
}
