.text {
  color: #333;
  width: 400px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;

  .text-label {
    text-transform: uppercase;
    margin-bottom: .2rem;
    font-weight: bold;
    color: #aaa;
    font-size: .7rem;
  }
}
