.text {
  color: #333333;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 400px;

  .text-label {
    color: #aaaaaa;
    font-weight: bold;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }
}
