@background-color: #FAFAFA;
@stroke-color: #00A3BD;
@stroke-width: 3px;
@fill-color: #790f42;
@reference-area-color: #9DDDE6;
@reference-area-opacity: 0.5;

rect {
  fill: #fff;
}

.projection-chart {
  width: 960px;
  height: 500px;
  font: 12px sans-serif;

  .axis {
    font-size: 1.5em;
  }

  circle, .area {
    fill: @fill-color;
    stroke: none;
  }

  .inverse-area, .dark-matter-area {
    fill: @reference-area-color;
    fill-opacity: @reference-area-opacity;
  }

  circle {
    fill: @background-color;
    fill-opacity: 1;
    cursor: move;
  }
}
