@axis: #666;
@dark-matter-opacity: 0.7;

.projection-chart {
  width: 1100px;
  height: 500px;
  margin-bottom: 40px;

  .axis {
    font: 10px sans-serif;
    color: @axis;
    path,
    line {
      fill: none;
      stroke: @axis;
    }
    path {
      display: none;
    }
  }

  .label {
    font: 10px sans-serif;
    color: @axis;
  }


  .area {
    fill: @completed;
    stroke: none;
  }

  .backlog {
    fill: @backlog;
    stroke: none;
  }

  .dark-matter {
    fill: @dark-matter;
    stroke: none;
    opacity: @dark-matter-opacity;
  }
}
