@axis: #666666;

// outline everything for debugging
// .status-chart * {
//   outline: 1px solid pink;
// }

.status-chart {
  .axis {
    color: @axis;
    font: 10px sans-serif;
    path,
    line {
      fill: none;
      stroke: @axis;
    }
    path {
      display: none;
    }
  }

  .label {
    color: @axis;
    font: 10px sans-serif;
  }

  .projection-line {
    fill: none;
    stroke: black;
    stroke-width: 5;
  }

  .projection-button {
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}
