@axis: #666;

// outline everything for debugging
// .status-chart * {
//   outline: 1px solid pink;
// }

.status-chart {
  .axis {
    font: 10px sans-serif;
    color: @axis;
    path,
    line {
      fill: none;
      stroke: @axis;
    }
    path {
      display: none;
    }
  }
  .label {
    font: 10px sans-serif;
    color: @axis;
  }
  .projection-line {
    fill: none;
    stroke: black;
    stroke-width: 5;
  }
  .projection-button {
    cursor: pointer;
    &:hover {
      font-weight:bold;;
    }
  }
}

// .status-chart {
//  .chart-container {
//    svg.chart {
//      height: 1500px;
//    }
//   //  * {
//   //    outline: 1px solid pink;
//   //  }
//    width: 950px;
//    height: 500px;

//
//     .label {
//       font: 10px sans-serif;
//       color: @axis;
//     }
//
//     .area {
//       fill: @completed;
//       stroke: none;
//     }
//
//     .legend {
//       .legend-item {
//         font-size: 1rem;
//         text-transform: uppercase;
//         margin-bottom: 0.5rem;
//         padding: 0.3rem;
//         color: white;
//       }
//     }
//
//   }
// }
//
// .line {
//   fill: none;
//   stroke: black;
//   stroke-width: 3px;
// }
